In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle

In [2]:
dataset = pd.read_csv('hiring.csv')

In [3]:
dataset

  experience  test_score  interview_score   salary
0        NaN         8.0              9.0  50000.0
1        NaN         8.0              6.0  45000.0
2       five         6.0              7.0  60000.0
3        two        10.0             10.0  65000.0
4      seven         9.0              6.0  70000.0
5      three         7.0             10.0  62000.0
6        ten         NaN              7.0  72000.0
7     eleven         7.0              8.0  80000.0

In [4]:
dataset['experience'].fillna(0,inplace=True)

In [5]:
dataset['experience']

0         0
1         0
2      five
3       two
4     seven
5     three
6       ten
7    eleven
Name: experience, dtype: object

In [6]:
dataset['test_score'].fillna(dataset['test_score'].mean(),inplace=True)

In [7]:
dataset['test_score']

0     8.000000
1     8.000000
2     6.000000
3    10.000000
4     9.000000
5     7.000000
6     7.857143
7     7.000000
Name: test_score, dtype: float64

In [8]:
X=dataset.iloc[:,:3]

In [9]:
X

  experience  test_score  interview_score
0          0    8.000000              9.0
1          0    8.000000              6.0
2       five    6.000000              7.0
3        two   10.000000             10.0
4      seven    9.000000              6.0
5      three    7.000000             10.0
6        ten    7.857143              7.0
7     eleven    7.000000              8.0

In [10]:
# Converting words to integer values
def convert_to_int(word):
    word_dict={'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

In [11]:
X['experience']=X['experience'].apply(lambda x : convert_to_int(x))

In [12]:
y=dataset.iloc[:,-1]

In [13]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

regressor.fit(X,y)

LinearRegression()

In [14]:
pickle.dump(regressor,open('model.pkl','wb'))

model= pickle.load(open('model.pkl','rb'))
print(model.predict([[2,9,6]]))

[53290.89255945]

d:\Data_Science_Practice\End to End ML Project deployment\mlproject\venv\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(